/* Styles specific to Contact page */
.contact-page {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 20px;
}

.contact-page h2 {
  margin-top: 0;
  background-color:#2b2c6f ;
  text-align: center;
  margin-top: 0;
 color: #ffd85a !important;
  font-weight: 800;
  text-shadow: 0 4px 14px rgba(246, 236, 236, 0.65) !important;
}
.contact-page {
  width: 100%;
  padding: 40px 20px;
  background: #ffffff;
  text-align: center;
}

.contact-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.contact-section {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.contact-card {
  background: #fff;
  width: 280px;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.contact-card:hover {
  transform: translateY(-5px);
}

.icon-circle {
  width: 70px;
  height: 70px;
  background: #f1f7ff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.icon-circle .material-icons {
  font-size: 32px;
  color: #3b82f6;
}

.contact-card h3 {
  font-size: 20px;
  margin-bottom: 8px;
  color: #222;
}

.contact-card p {
  font-size: 14px;
  color: #555;
  margin: 3px 0;
}

/* FORM */
.contact-form {
  width: 100%;
  max-width: 850px;
  margin: auto;
  background: #fafafa;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.form-row input {
  flex: 1;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

textarea {
  width: 100%;
  height: 120px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  resize: none;
  font-size: 14px;
}

.submit-btn {
  margin-top: 15px;
  width: 100%;
  padding: 14px;
  background: #3b82f6;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.submit-btn:hover {
  background: #2563eb;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .form-row {
    flex-direction: column;
  }

  .contact-section {
    flex-direction: column;
    align-items: center;
  }
}
.Map{
background-color:#2b2c6f ;
  text-align: center;
  margin-top: 0;
 color: #ffd85a !important;
  font-weight: 800;
  text-shadow: 0 4px 14px rgba(246, 236, 236, 0.65) !important;
}